---
- name: Check prerequisites
  hosts: localhost
  connection: local
  gather_facts: false
  roles:
    - check_rbw

- name: Setup Repository
  hosts: homeserver
  become: false
  gather_facts: false

  roles:
    - git_pull
