Types: deb
URIs: {{ dotfiles_shell_mise_repo_uri }}
Suites: {{ dotfiles_shell_mise_repo_suite }}
Components: {{ dotfiles_shell_mise_repo_components | join(' ') }}
Signed-By: {{ dotfiles_shell_mise_keyring_path }}
