---
# -------------------------------------------------------------------------
# PREREQUISITES:
# 1. Install Unofficial Bitwarden CLI ('rbw') https://github.com/doy/rbw
# 2. Ensure rbw is configured and unlocked (run 'rbw login' and 'rbw unlock')
# -------------------------------------------------------------------------

- name: Showcase Vaultwarden as Secret Manager
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Ensure rbw is unlocked
      ansible.builtin.include_role:
        name: check_rbw

    - name: Set ansible credentials
      ansible.builtin.set_fact:
        ansible_user: "{{ lookup('pipe', 'rbw get  Ansible.Test --field username') }}"
        ansible_password: "{{ lookup('pipe', 'rbw get Ansible.Test') }}"

    - name: Display the retrieved username
      ansible.builtin.debug:
        msg: "The ansible user is: {{ ansible_user }}"
      failed_when: false

    - name: Display the retrieved password
      ansible.builtin.debug:
        msg: "The ansible password is: {{ ansible_password }}"
      failed_when: false
